<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer'
        ? '&l=' + l
        : '';
    j.async = true;
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-XXXX');
</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-138155856-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-138155856-1');
</script>
<div class="full-page" id="loading">
  <div class="spinner">
    Prosper World...<br>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXX" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
</div>
<div class="header-bar fixed-top"></div>
<div class="hidden" id="hidden">
  <div class="navbar">
    <div class="container">
      <span><%= image_tag("econblock.png") %></span><span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#about-me">ABOUT-ME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#summary">SUMMARY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#projects">PROJECTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#contact-me">CONTACT</a>
      </span>
    </div>
  </div>
  <div class="front-page" id="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
          <div class="front-page-content1">
            <span class="title">Hello,
              <span class="im"></span>
              <span class="underline"> I'm Taylor</span></span><br>
          </div>
          <div class="front-page-content2">
            <span class="summary quotes">Product Manager (PMC)</span><span class="summary quotes">Builder</span><span class="summary quotes">Business and Creative Strategist</span><br><br>
          </div>
          <div class="front-page-content3">
            <a href="#contact-me">
              <div class="yellow-button"> <!-- Contact -->
                CONTACT ME
              </div>
            </a>
            <a href="#about-me">
              <div class="green-button">  <!-- CTA -->
                READ MORE
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>
      </div>
    </div>
  </div>
  <div class="about-me-strip" id="about-me">
    <div class="container reveal">
      <div class="title text-center">
        Thank you for visiting my personal website!
      </div>
      <div class="sub-title text-center">
        A little more about me
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="about-me">
    <div class="container reveal">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="title text-center">
          <br>
          I built this digital “living” product as a way to showcase my skills, personal interests, and career goals. More about my experience and personal interest– I'm an empathic, growth-minded certified Product Manager(PMC), Web Dev, and Technical Writer, focused on delivering validated customer experiences across both the web2 and web3 domains.
          <br><br>
          <b>Areas of focus:</b>  
          <br><br>Product discovery, user research, UI/UX design, prototyping, process implementation (agile, scrum, and control theory), technical writing, team development, building internal tooling for business and project-level controls, and product & business strategy.
          <br><br>
          During my free time I often engage in outdoor sports, including riding bikes and snowboarding– When I find myself stuck on a difficult problem-set a good ride on my road bike usually helps me to identify a solution.
          <br><br>
          Shoot me an email using the
          <a href="#contact-me">contact form</a>
        </div>
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="education-experience-skills" id="summary">
    <div class="container">
      <div class="row is-flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4>
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
            <div class="line"></div>
            <strong>Product School</strong>
            <br>Product Management Certificate(PMC) & (PAC)
            <br>
            <br>
            <strong>Thinkful-Bloc</strong>
            <br>Web Development Bootcamp: Ruby on Rails
            <br>
            <br>
            <strong>FullSail University</strong>
            <br>Engineering, Audio
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4>
              <i class="fa fa-list" aria-hidden="true"></i>&nbsp;Some Of My Recent Experience</h4>
            <div class="line"></div>
            2022 - Currently,
            <br>
            <strong>Building on NEAR!</strong>
            <br>
            <span class="">Product Manager for multiple projects solving different technical challenges</span>
            <br>
            <br>
            2021 - 2021
            <br>
            <strong>Product School</strong>
            <br>
            <span class="">Volunteer Community Organizer</span>
            <br>
            <br>
            2019 - 2020
            <br>
            <strong>GoGuardian</strong>
            <br>
            <span class="">Associate Product Manager</span>
            <br>
            <br>
            2019 - 2019
            <br>
            <strong>EatOS by POSLabs</strong>
            <br>
            <span class="">Hybrid Project/ Product Manager</span>
            <br>
            <br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4>
              <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Tech & Productivity</h4>
            <div class="line"></div>
            <h1>
              <div class="skill-icons">
                <i class="devicon-ruby-plain-wordmark"></i>
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-rails-plain-wordmark"></i>
                <i class="devicon-mysql-plain"></i>
                <i class="devicon-javascript-plain"></i><br>
                <i class="PM.SVG"></i>
                <span><%= image_tag("Jira Software-blue.svg") %></span>
                <span><%= image_tag("Trello-icon-blue.svg") %></span>
                <span><%= image_tag("Confluence-blue.svg") %></span>
                <span><%= image_tag("google_analytics.svg") %></span>
              </div>
            </h1>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center collapse-group">
          <div class="box">
            <h4>
              <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp; Personal Attributes</h4>
            <div class="line"></div>
            <strong>Product & Business Attributes:</strong>
            <br>
            <span class=""></span>
            <p class="collapse" id="viewdetails-fb">Product Strategy & Vision, User Research, Product Discovery, Execution Strategies, Risk & Mitigation Plans, Systems Design, Qualitative & Quantitative Analysis, Pricing Strategy, Customer Success, Go-To-Market & Launch, then Iteration. Ship It!
            </p>
            <p>
              <a class="btn" data-toggle="collapse" data-target="#viewdetails-fb">View details &raquo;</a>
            </p>
            <strong>Development, Analytics & Design:</strong>
            <br>
            <span class=""></span>
            <p class="collapse" id="viewdetails-cf">
              Ruby/Rails and JS ; Heap Analytics, Amplitude, and Google Analytics ; InVision and Balsamic, primarily for wireframing and prototyping
              <br>
            </p>
            <p>
              <a class="btn" data-toggle="collapse" data-target="#viewdetails-cf">View details &raquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-strip text-center" id="projects">
    <div class="container reveal">
       Docs & Resources
      <div class="line"></div>
    </div>
  </div>
  <div class="portfolio text-center">
    <div class="container">
      <div class="row">
        <div class="hiddex-xs col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-1">
            <div class="portfolio-contents" onclick="window.open('https://drive.google.com/file/d/1-Wprb-oG2z1RX6bYusTx8uHscFQAbbrH/view?usp=sharing');" style="cursor:pointer;">
              <span>
                <span class="title">Volvo Go</span><br>
                <div class="line"></div>
                <span class="summary">VolvoGo Product Showcase</span>
              </span>
            </div>
          </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-2">
            <div class="portfolio-contents" onclick="window.open('https://docs.google.com/presentation/d/1nGEIPWHnwHEH8U3HmR4QuOCpgWyKUxbOex0HvwH_PWo/edit?usp=sharing');" style="cursor:pointer;">
              <span>
                <span class="title">Carter's Product-case</span><br>
                <div class="line"></div>
                <span class="summary">Theoretical product case for Carter's mobile</span>
              </span>
            </div>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-3">
            <div class="portfolio-contents" onclick="window.open('https://drive.google.com/file/d/1ZlBQK3QpDRatrCNi-s3E0-ibIR8SKhKw/view?usp=sharing');" style="cursor:pointer;">
              <span>
                <span class="title">GalacticWay - Setup Guide</span><br>
                <div class="line"></div>
                <span class="summary">Technical documentation example</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-4">
            <div class="portfolio-contents" onclick="window.open('https://drive.google.com/file/d/1nm3KxsLgiKZNTmSQ7pTMEf36fP8cDSPq/view?usp=sharing');" style="cursor:pointer;">
              <span>
                <span class="title">GalacticWay WhitePaper</span><br>
                <div class="line"></div>
                <span class="summary">WhitePaper for GalacticWay Marketplace (Team pivoted, we're no longer working on this project)
                </span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-5">
            <div class="portfolio-contents" onclick="window.open('https://speakerdeck.com/taylorjalpha/ava-bithold-deck');" style="cursor:pointer;">
              <span>
                <span class="title">AVA BitHold</span><br>
                <div class="line"></div>
                <span class="summary">Music Marketplace on NEAR (Role: Product) </span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-6">
            <div class="portfolio-contents" onclick="window.open('https://awesomenear.com/articles/launching-galaticway-on-the-near-protocol');" style="cursor:pointer;">
              <span>
                <span class="title">
                  AwesomeNEAR - GalacticWay Showcase<br>
                <div class="line"></div>
                <span class="summary">launch announcement & GalacticWay Intro article</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-me" id="contact-me">
  <div class="container reveal">
    <div class="row">
      <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
        <span class="title">Contact me and/or Feedback</span><br><br>
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
          <% elsif flash[:warning] %>
          <div class="alert alert-danger"><%= flash[:warning] %></div>
          <% else %>
          <% end %>
          <%= form_for :contact do |f| %>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <input class="form-control" type="text" id="fname" name="contact[name]" placeholder="Name:">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <input class="form-control" type="text" id="lname" name="contact[email]" placeholder="Email:">
            </div>
          </div>
          <br>
          <span>
            <textarea class="form-control" id="subject" name="contact[message]" placeholder="Message:" style="height:100px"></textarea>
          </span>
          <br>
          <input class="btn" type="submit" value="Submit">
        <% end %>
        <br><br><br>
        <div class="line"></div><br>
        <a href="https://www.linkedin.com/in/taylor-ferguson-57826660/" target="_blank">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>&nbsp;

        <a href="https://github.com/TaylorJalpha" target="_blank">
          <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/tayloralphaa/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>&nbsp;
        <br><br>
        <span class="copyright">&copy; 2022 Taylor_Ferguson</span>
      </div>
      <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
(function () {

  var quotes = $(".quotes");
  var quoteIndex = -1;

  function showNextQuote() {
    ++quoteIndex;
    quotes.eq(quoteIndex % quotes.length).fadeIn(1500).delay(1500).fadeOut(1500, showNextQuote);
  }

  showNextQuote();

})();
</script>
//
<script type="text/javascript">
//
var frontPage = {
  duration: 1500
}
var frontPageContent1 = {
  duration: 1500,
  delay: 500
}
var im = {
  duration: 1500,
  delay: 1000
}
var underline = {
  duration: 1500,
  delay: 1300
}
var frontPageContent2 = {
  duration: 1500,
  delay: 2000
}
var frontPageContent3 = {
  scale: 0.9,
  duration: 1500,
  delay: 3000
}
var reveal = {
  duration: 800,
  reset: true
}
var box = {
  duration: 800,
  reset: true
}
var grid = {
  duration: 800,
  reset: true
}
// sr.reveal('.front-page', frontPage); sr.reveal('.front-page-content1', frontPageContent1);   sr.reveal('.im', im);  sr.reveal('.underline', underline);  sr.reveal('.front-page-content3', frontPageContent3);  sr.reveal('.box', box, 150);
// sr.reveal('.grid', grid, 150);
</script>
<!-- Page preloader -->
<script type="text/javascript">
$(window).load(function () {
  $("#loading").addClass("hidden");
  $("#hidden").removeClass("hidden");
  window.scrollBy(0, 1);
})
</script>
<!-- scrolling-Smooth -->
<script type="text/javascript">
$('a[href*="#"]:not([href="#"])').click(function () {
  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length
      ? target
      : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 800);
      return false;
    }
  }
});
</script>

<script type="text/javascript">
$(window).scroll(function () {
  var scroll = $(window).scrollTop();

  /
  if (scroll >= 100) {
    
    $(".navbar").addClass("nav-bg");
  }
}); 
</script>
